/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}

h1 {
	padding-top: 2%;
	text-align: center;
	font-weight: bold;

}

#sub {
	padding-top: 5%;
	text-align: center;
	font-weight: bold;
	color: #20385c;

}

/*form styles*/
#figuras {
	width: 350px;
	margin-top: 25px;
	margin-left: 40%;
	text-align: center;
	position: relative;
}
#figuras {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	/*width: 80%;*/
	/*margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

#respuesta {
	width: 600px;
	margin-top: 100px;
	margin-left: 32%;
	text-align: center;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	/*width: 80%;*/
	/*margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

/*inputs*/
#figuras input, #fig {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

input:disabled {
  background: #c7c5c6;
}
/*buttons*/
#figuras .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#respuesta .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#figuras.action-button:hover, #figuras .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}



